<div>

    <h2>{{currentCustomer.name}}</h2>
    <div><span>Email: </span>{{currentCustomer.email}}</div>
    <div *ngIf="currentCustomer.purchasedProducts"><span>Purchased Products: </span>

        <table mat-table [dataSource]="currentCustomer.purchasedProducts">

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef> Price </th>
                <td mat-cell *matCellDef="let element"> {{element.price  | number : '1.2-2'}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <div *ngIf="!currentCustomer.purchasedProducts">
        <span>This customer does not have purchased products.</span>
    </div>
</div>