<div class="container example-container">
    <form [formGroup]="productForm" (ngSubmit)="addProduct()">
        <mat-form-field>
            <input matInput placeholder="Name" id="name" formControlName="name" required>
        </mat-form-field>
        <br />
        <mat-form-field>
            <input matInput placeholder="Price" id="price" formControlName="price" required decimalPlaces>
        </mat-form-field>
        <br />
        <button mat-raised-button type="submit" color="primary" >Add Product</button>
    </form>
</div>